---
name: learn-github-actions
run-name: Learn GitHub Actions Workflow

on:
  push:
    paths:
      - "customer_churn_ml/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Lint code
        run: |
          flake8 customer_churn_ml/
